rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /bikes/{bikeId} {
      allow read: if isAuthenticated(); 
      allow write: if isAuthenticated() && currentUserRole() == "manager"; 
    }

    match /users/{userId} {
      //allow read of individual users document only if it's the current user or a Manager
      allow get: if isAuthenticated() && (userId == request.auth.uid || currentUserRole() == "manager"); 
      //allow reading all users document only for Managers
      allow list: if isAuthenticated() && currentUserRole() == "manager"; 
      allow write: if isAuthenticated() && (userId == request.auth.uid || currentUserRole() == "manager");
    }

    match /reservations/{reservationId} {
      //allow read and write only if it's the user who made the reservation or a Manager
      allow read: if isAuthenticated() && (existingData().reservedBy == request.auth.uid || currentUserRole() == "manager"); 
      allow create: if isAuthenticated() && (incomingData().reservedBy == request.auth.uid || currentUserRole() == "manager");
      allow write: if isAuthenticated() && (existingData().reservedBy == request.auth.uid || currentUserRole() == "manager");
    }


    function isAuthenticated() {
      return request.auth != null;
    }

    function incomingData() { return request.resource.data }
    function existingData() { return resource.data }


    function currentUserRole() { return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role }


  }
}